altair
b2
b2sdk
cachetools
decorator
exceptiongroup
gitdb
GitPython
idna
ipykernel
ipython
matplotlib
matplotlib-inline
numpy
pandas
python-dotenv
requests
s3transfer
scikit-learn
scipy
seaborn
streamlit
toml
tqdm


